{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}
{% assign arrow = arrow | replace:'class=""','class="icon icon-arrow"' %}
{% capture arrow-long %}<svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" viewBox="0 0 26 16" fill="none"><path d="M9 15L2 8M2 8L9 0.999999M2 8L26 8" stroke="#252525" stroke-width="2"/></svg>{% endcapture %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span class="iconWrapper">
        {% comment %}<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none" class="espaceC">
          <circle cx="7.5" cy="7" r="7" fill="#EBFF00"/>
        </svg>{% endcomment %}
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
      <span class="spanTitle small-hide">Magasiner par Espace</span>
      <span class="spanTitle medium-hide large-up-hide">Menu</span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer _motion-reduce">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        {{ arrow }}
                        {% comment %}{% render 'icon-arrow' %}
                        {% render 'icon-caret' %}{% endcomment %}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient _motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            {{ arrow-long }}
                            {% comment %}{% render 'icon-arrow' %}{% endcomment %}
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      {{ arrow }}
                                      {% comment %}
                                        {% render 'icon-arrow' %}
                                        {% render 'icon-caret' %}
                                      {% endcomment %}
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu menu-drawer__grandmenu has-submenu gradient _motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        {{ arrow-long }}
                                        {% comment %}{% render 'icon-arrow' %}{% endcomment %}
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                      {% capture longArrow %}<svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12" fill="none"><path d="M14.3518 1L20 6M20 6L14.3518 11M20 6H0" stroke="black" stroke-width="1.2"/></svg>{% endcapture %}
                                      {% for block in section.blocks %}
                                      {%- assign donwLinkTitle = link.title | downcase -%}
                                      {%- assign donwMenu_title = block.settings.menu_title | downcase -%}
                                      {% if donwLinkTitle == donwMenu_title %}
                                        <div class="block-section">
                                          <div class="block-cstm-items">
                                          {%- if block.settings.btn_title_1 != blank -%}<a href="{{ block.settings.link_1 | default: '#' }}" class="absolute-link"></a>{%- endif -%}
                                           {% if block.settings.image_1 != blank %}
                                              {%- liquid
                                                assign height = block.settings.image_1.width | divided_by: block.settings.image_1.aspect_ratio | round                        
                                                assign sizes = 'calc((100vw - 20px) * 0.70274)'
                                                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'                        
                                              -%}
                                              {{
                                                block.settings.image_1
                                                | image_url: width: 3840
                                                | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                                              }}
                                            {% endif %} 
                                            {% if block.settings.title_1 != blank %}
                                              <div class="block-title">{{ block.settings.title_1 }}</div>
                                            {% endif %}  
                                            {% if block.settings.description_1 != blank %}
                                              <div class="block-desc">{{ block.settings.description_1 }}</div>
                                            {% endif %}
                                            {% if block.settings.btn_title_1 != blank %}
                                              <a href="{{ block.settings.link_1 }}" class="block-btn">{{ block.settings.btn_title_1 }} {{ longArrow }}</a>
                                            {% endif %}
                                          </div> 
                                          <div class="block-cstm-items">
                                           {%- if block.settings.btn_title_2 != blank -%}<a href="{{ block.settings.link_2 | default: '#' }}" class="absolute-link"></a>{%- endif -%}
                                           {% if block.settings.image_2 != blank %}
                                              {%- liquid
                                                assign height = block.settings.image_2.width | divided_by: block.settings.image_2.aspect_ratio | round                        
                                                assign sizes = 'calc((100vw - 20px) * 0.70274)'
                                                assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'                        
                                              -%}
                                              {{
                                                block.settings.image_2
                                                | image_url: width: 3840
                                                | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                                              }}
                                            {% endif %} 
                                            {% if block.settings.title_2 != blank %}
                                              <div class="block-title">{{ block.settings.title_2 }}</div>
                                            {% endif %}  
                                            {% if block.settings.description_2 != blank %}
                                              <div class="block-desc">{{ block.settings.description_2 }}</div>
                                            {% endif %}
                                            {% if block.settings.btn_title_2 != blank %}
                                              <a href="{{ block.settings.link_2 }}" class="block-btn">{{ block.settings.btn_title_2 }} {{ longArrow }}</a>
                                            {% endif %}
                                          </div>                                          
                                        </div>
                                        {% break %}
                                      {% endif %}
                                      {% endfor %}  
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                          {% for block in section.blocks %}
                          {%- assign donwLinkTitle = link.title | downcase -%}
                          {%- assign donwMenu_title = block.settings.menu_title | downcase -%}
                          {% if donwLinkTitle == donwMenu_title %}
                            <div class="block-section">
                              <div class="block-cstm-items">
                               {%- if block.settings.btn_title_1 != blank -%}<a href="{{ block.settings.link_1 | default: '#' }}" class="absolute-link"></a>{%- endif -%}
                               {% if block.settings.image_1 != blank %}
                                  {%- liquid
                                    assign height = block.settings.image_1.width | divided_by: block.settings.image_1.aspect_ratio | round                        
                                    assign sizes = 'calc(100vw - 40px)'
                                    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'                        
                                  -%}
                                  {{
                                    block.settings.image_1
                                    | image_url: width: 3840
                                    | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                                  }}
                                {% endif %} 
                                {% if block.settings.title_1 != blank %}
                                  <div class="block-title">{{ block.settings.title_1 }}</div>
                                {% endif %}  
                                {% if block.settings.description_1 != blank %}
                                  <div class="block-desc">{{ block.settings.description_1 }}</div>
                                {% endif %}
                                {% if block.settings.btn_title_1 != blank %}
                                  <a href="{{ block.settings.link_1 }}" class="block-btn">{{ block.settings.btn_title_1 }} {{ longArrow }}</a>
                                {% endif %}
                              </div> 
                              <div class="block-cstm-items">
                               {%- if block.settings.btn_title_2 != blank -%}<a href="{{ block.settings.link_2 | default: '#' }}" class="absolute-link"></a>{%- endif -%}
                               {% if block.settings.image_2 != blank %}
                                  {%- liquid
                                    assign height = block.settings.image_2.width | divided_by: block.settings.image_2.aspect_ratio | round                        
                                    assign sizes = 'calc(100vw - 40px)'
                                    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'                        
                                  -%}
                                  {{
                                    block.settings.image_2
                                    | image_url: width: 3840
                                    | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                                  }}
                                {% endif %} 
                                {% if block.settings.title_2 != blank %}
                                  <div class="block-title">{{ block.settings.title_2 }}</div>
                                {% endif %}  
                                {% if block.settings.description_2 != blank %}
                                  <div class="block-desc">{{ block.settings.description_2 }}</div>
                                {% endif %}
                                {% if block.settings.btn_title_2 != blank %}
                                  <a href="{{ block.settings.link_2 }}" class="block-btn">{{ block.settings.btn_title_2 }} {{ longArrow }}</a>
                                {% endif %}
                              </div>                                          
                            </div>
                            {% break %}
                          {% endif %}
                          {% endfor %} 
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
            {% if section.settings.menu_additional != blank %}
              <ul class="additional_mob">
                {%- for link in section.settings.menu_additional.links -%}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}  
              </ul>
            {% endif %}
            {% comment %}<div class="otherContent">
              <span class="ly-custom-0"></span>
            </div>{% endcomment %}
          </nav>
          <div class="menu-drawer__utility-links otherContent">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
              >
                {% render 'icon-account' %}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            
            
            <span class="ly-custom-0" hidden></span>
            
            
            {%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
              <div class="menu-drawer__localization header__localization">
                {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
                  <noscript>
                    {%- form 'localization', id: 'HeaderCountryMobileFormNoScriptDrawer', class: 'localization-form' -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScriptDrawer">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        <select
                          class="localization-selector link"
                          name="country_code"
                          aria-labelledby="HeaderCountryMobileLabelNoScriptDrawer"
                        >
                          {%- for country in localization.available_countries -%}
                            <option
                              value="{{ country.iso_code }}"
                              {%- if country.iso_code == localization.country.iso_code %}
                                selected
                              {% endif %}
                            >
                              {{ country.name }} ({{ country.currency.iso_code }}
                              {{ country.currency.symbol }})
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                    {%- endform -%}
                  </noscript>

                  <localization-form class="no-js-hidden">
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                  <noscript>
                    {%- form 'localization',
                      id: 'HeaderLanguageMobileFormNoScriptDrawer',
                      class: 'localization-form'
                    -%}
                      <div class="localization-form__select">
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScriptDrawer">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        <select
                          class="localization-selector link"
                          name="locale_code"
                          aria-labelledby="HeaderLanguageMobileLabelNoScriptDrawer"
                        >
                          {%- for language in localization.available_languages -%}
                            <option
                              value="{{ language.iso_code }}"
                              lang="{{ language.iso_code }}"
                              {%- if language.iso_code == localization.language.iso_code %}
                                selected
                              {% endif %}
                            >
                              {{ language.endonym_name | capitalize }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                      <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                    {%- endform -%}
                  </noscript>

                  <localization-form class="no-js-hidden">
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' , headerMobile: true -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            {% comment %}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
