<ul class="mainUl">
  {%- for link in section.settings.menu.links -%}
    {%- if link.links != blank -%}
      <li class="menuHover hasChild number-{{ forloop.index }}">
        <a class="link link--text focus-inset" href="{{ link.url }}" title="">{{ link.title }} <span class="iconWapper">{{ arrow }}</span></a>
        <div class="megaMenuWarpper">
          <div class="list-wrapper">
            {%- for childlink in link.links -%}
              <div class="child-wrapper">
              <div class="h3 child-title">              
                <a href="{{ childlink.url }}" class="" title="">{{ childlink.title }}</a>
              </div>
                {%- if childlink.links != blank -%}
                  <ul class="list-ul">
                    {%- for grandchildlink in childlink.links -%}
                      <li><a href="{{ grandchildlink.url }}" class="link link--text focus-inset" title="">{{ grandchildlink.title }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
          </div>          
            {% capture longArrow %}<svg xmlns="http://www.w3.org/2000/svg" width="21" height="12" viewBox="0 0 21 12" fill="none"><path d="M14.3518 1L20 6M20 6L14.3518 11M20 6H0" stroke="black" stroke-width="1.2"/></svg>{% endcapture %}
            {% capture blockWrapper %}
            {% for block in section.blocks %}
              {%- assign donwLinkTitle = link.title | downcase -%}
              {%- assign donwMenu_title = block.settings.menu_title | downcase -%}              
              {% if donwLinkTitle == donwMenu_title %}
                
                {%- assign curentDate = 'now' | date: '%Y-%m-%d' | date: '%s' -%}
                {%- if block.settings.promo_1_st_date != blank and block.settings.promo_1_end_date != blank -%}     
                  {% assign startDate = block.settings.promo_1_st_date | date: '%Y-%m-%d' | date: '%s' %}
                  {% assign endDate = block.settings.promo_1_end_date | date: '%Y-%m-%d' | date: '%s' %}
                  {%- if startDate <= curentDate and endDate >= curentDate -%}
                    <div class="block-items">
                    {%- if block.settings.btn_title_1 != blank -%}<a href="{{ block.settings.link_1 | default: '#' }}" class="absolute-link"></a>{%- endif -%}
                      {% if block.settings.image_1 != blank %}
                        {%- liquid
                          assign height = block.settings.image_1.width | divided_by: block.settings.image_1.aspect_ratio | round                        
                          assign sizes = '100vw'
                          assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'                        
                        -%}
                        {{
                          block.settings.image_1
                          | image_url: width: 3840
                          | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                        }}
                      {% endif %} 
                      {% if block.settings.title_1 != blank %}
                        <div class="block-title">{{ block.settings.title_1 }}</div>
                      {% endif %}  
                      {% if block.settings.description_1 != blank %}
                        <div class="block-desc">{{ block.settings.description_1 }}</div>
                      {% endif %}
                      {% if block.settings.btn_title_1 != blank %}
                        <a href="{{ block.settings.link_1 }}" class="block-btn">{{ block.settings.btn_title_1 }} {{ longArrow }}</a>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}
                {%- if block.settings.promo_2_st_date != blank and block.settings.promo_2_end_date != blank -%}
                  {% assign startDate = block.settings.promo_2_st_date | date: '%Y-%m-%d' | date: '%s' %}
                  {% assign endDate = block.settings.promo_2_end_date | date: '%Y-%m-%d' | date: '%s' %}
                  {%- if startDate <= curentDate and endDate >= curentDate -%}   
                    <div class="block-items">
                      {%- if block.settings.btn_title_2 != blank -%}<a href="{{ block.settings.link_2 | default: '#' }}" class="absolute-link"></a>{%- endif -%}
                      {% if block.settings.image_2 != blank %}
                        {%- liquid
                          assign height = block.settings.image_2.width | divided_by: block.settings.image_2.aspect_ratio | round                        
                          assign sizes = '100vw'
                          assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'                        
                        -%}
                        {{
                          block.settings.image_2
                          | image_url: width: 3840
                          | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                        }}
                      {% endif %} 
                      {% if block.settings.title_2 != blank %}
                        <div class="block-title">{{ block.settings.title_2 }}</div>
                      {% endif %}  
                      {% if block.settings.description_2 != blank %}
                        <div class="block-desc">{{ block.settings.description_2 }}</div>
                      {% endif %}
                      {% if block.settings.btn_title_2 != blank %}
                        <a href="{{ block.settings.link_2 }}" class="block-btn">{{ block.settings.btn_title_2 }} {{ longArrow }}</a>
                      {% endif %}
                    </div> 
                  {% endif %}
                {% endif %}                
                {% break %}
              {% endif %}
            {% endfor %}
            {% endcapture %}{% assign blockWrapper = blockWrapper | strip | strip_newlines %}
            {% if blockWrapper != blank %}<div class="block-wrapper"><div class="blockWra-item">{{ blockWrapper }}</div></div>{% endif %}
        </div>
      </li>
    {% else %}
      <li class="menuHover">
        <a class="link link--text focus-inset" href="{{ link.url }}" title="">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
 </ul>
 {% if section.settings.menu_additional != blank %}
   <ul class="secondaryUl">
     {%- for link in section.settings.menu_additional.links -%}
      <li class="menuHover">
        <a class="link link--text focus-inset" href="{{ link.url }}" title="">{{ link.title }}</a>
      </li>
     {% endfor %}   
   </ul>
 {% endif %}