{%- capture multiItem -%}
  {% for block in section.blocks %}

    {%- capture item -%}
      <div class="top-box">
        {% if block.settings.text != blank %}<h6 class="card-text">{{ block.settings.text }}</h6>{% endif %}
        {% if block.settings.caption != blank %}<p class="card-caption">{{ block.settings.caption }}</p>{% endif %}
      </div>
      <div class="bottom-box">
        {% if block.settings.title != blank %} <h3 class="card-title">{{ block.settings.title }}</h3>{% endif %}
        {% if block.settings.link_label != blank %}<span class="link link-btn">{{ block.settings.link_label }}</span>{% endif %}
      </div>
    {%- endcapture -%}
    {% if item != blank %}
      <div class="multi-card-item">
        <a href="{{ block.settings.link | default:"#" }}" class="box-col">
        {{ item }}{% if block.settings.svg != blank %}<span class="card-svg">{{ block.settings.svg }}</span>{% endif %}
        </a>
      </div>
    {% endif %}

  {% endfor %}
{%- endcapture -%}

{% if multiItem != blank %}
<link rel="stylesheet" href="{{ 'multi-card.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ 'multi-card.css' | asset_url }}"></noscript>

{%- assign spacing-top = section.settings.spacing-top | times: 1 -%}
{%- assign spacing-bottom = section.settings.spacing-bottom | times: 1 -%}
{%- if spacing-top > 0 or spacing-bottom > 0 -%}
  {%- if spacing-top == 0 %}{% assign spacing-top = '' %}{% endif -%}
  {%- if spacing-top == 0 %}{% assign spacing-bottom = '' %}{% endif -%}
  {%- style -%}
    {%- if spacing-top >= 60 -%}
      #shopify-section-{{ section.id }} {
        padding-top: {{ spacing-top | times: 0.7 | round | at_least: 20 }}px;
        padding-bottom: {{ spacing-bottom | times: 0.7 | round | at_least: 20 }}px;
      }
      @media screen and (min-width: 750px){
        #shopify-section-{{ section.id }} { padding-top: {{ spacing-top }}px; padding-bottom: {{ spacing-bottom }}px; }
      }
    {%- else -%}
      #shopify-section-{{ section.id }} { padding-top: {{ spacing-top }}px; padding-bottom: {{ spacing-bottom }}px; }
    {%- endif -%}
  {%- endstyle -%}  
{%- endif -%}

<div class="multi-card-main {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="page-width full-page-width">
    <div class="multi-card-grid">
      {{ multiItem }}
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Multi Card",
  "class": "section multi-card-section section-padding-largepb-0",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings":[    
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "range",
      "id": "spacing-top",
      "min": 0,
      "max": 150,
      "step": 10,
      "default": 0,
      "unit": "px",
      "label": "Section margin top"
    },
    {
      "type": "range",
      "id": "spacing-bottom",
      "min": 0,
      "max": 150,
      "step": 10,
      "default": 0,
      "unit": "px",
      "label": "Section margin bottom"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Item",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "caption"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "Link label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Url to navigate"
        },
        {
          "type": "textarea",
          "id": "svg",
          "label": "SVG Html"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi Card"
    }
  ]
}
{% endschema %}