<div class="left-content">
  
  <div class="pass-logo">
    <svg width="82" height="40" viewBox="0 0 82 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 38.5326H23.1671V29.0631H9.99736V23.753H23.1671V14.7796H9.97097V9.50119H23.1671V0H0V38.5326Z" fill="white"/>
      <path d="M42.692 9.68593L48.6197 0H37.1232L26.7036 16.511H26.7089C25.2098 18.8757 24.3336 21.6838 24.3336 24.6925C24.3336 33.1486 31.185 40 39.6411 40C48.0971 40 54.9485 33.1486 54.9485 24.6925C54.9485 17.2816 49.6806 11.1006 42.6867 9.69121L42.692 9.68593ZM39.6463 30.6097C36.3737 30.6097 33.7239 27.9599 33.7239 24.6873C33.7239 21.4146 36.3737 18.7648 39.6463 18.7648C42.919 18.7648 45.5687 21.4146 45.5687 24.6873C45.5687 27.9599 42.919 30.6097 39.6463 30.6097Z" fill="white"/>
      <path d="M50.8472 0V9.38506H66.3341L53.3122 38.5326H64.1013L81.2879 0H50.8472Z" fill="white"/>
    </svg>
  </div>

  {% if section.settings.title != blank %}<h2 class="sec-title">{{ section.settings.title }}</h2>{% endif %}
  {% if section.settings.form_label != blank %}<div class="content">{{ section.settings.form_label }}</div>{% endif %}
            
  <div {{ block.shopify_attributes }}>
    {% form 'customer', class: 'newsletter-form' %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="newsletter-form__field-wrapper">
        <div class="field">
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="field__input"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Newsletter-error--{{ section.id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Newsletter-success--{{ section.id }}"
            {% endif %}
            placeholder="Enter Your Email"
            required
          >
          <label class="field__label" for="NewsletterForm--{{ section.id }}">
            Saisissez votre courriel
          </label>
          <button
            type="submit"
            class="newsletter-form__button field__button"
            name="commit"
            id="Subscribe"
            aria-label="{{ 'newsletter.button_label' | t }}"
          >
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="#EBFF00"/>
              <path d="M18.6111 13L22 16M22 16L18.6111 19M22 16H10" stroke="black" stroke-width="1.5"/>
            </svg>
          </button>
        </div>
        {%- if form.errors -%}
          <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
            {%- render 'icon-error' -%}
            {{- form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email -}}
          </small>
        {%- endif -%}
      </div>
      {%- if form.posted_successfully? -%}
        <h3
          class="newsletter-form__message newsletter-form__message--success form__message"
          id="Newsletter-success--{{ section.id }}"
          tabindex="-1"
          autofocus
        >
          {% render 'icon-success' -%}
          {{- 'newsletter.success' | t }}
        </h3>
      {%- endif -%}
    {% endform %}
  </div>
            

  <password-modal>
    <details class="password-modal modal">
      <summary class="modal__toggle" aria-haspopup="dialog">
        <div class="modal__toggle-open password-link link underlined-link">
         Entrer avec le mot de passe 
          <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.61109 1.5L12 4.5M12 4.5L8.61109 7.5M12 4.5H0" stroke="#757575" stroke-width="1.5"/>
          </svg>
        </div>
        <div class="modal__toggle-close" aria-hidden="true">
          {% render 'icon-close' %}
        </div>
      </summary>
      <div
        class="modal__content"
        role="dialog"
        aria-labelledby="DialogHeading"
        aria-modal="true"
      >
        <div class="password-modal__content" tabindex="-1">
          <div class="model-logo">
            <svg width="82" height="40" viewBox="0 0 82 40" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.356018 38.5326H23.5231V29.0631H10.3534V23.753H23.5231V14.7796H10.327V9.50119H23.5231V0H0.356018V38.5326Z" fill="white"/>
              <path d="M43.048 9.68593L48.9757 0H37.4793L27.0596 16.511H27.0649C25.5658 18.8757 24.6896 21.6838 24.6896 24.6925C24.6896 33.1486 31.541 40 39.9971 40C48.4531 40 55.3045 33.1486 55.3045 24.6925C55.3045 17.2816 50.0367 11.1006 43.0427 9.69121L43.048 9.68593ZM40.0024 30.6097C36.7297 30.6097 34.08 27.9599 34.08 24.6873C34.08 21.4146 36.7297 18.7648 40.0024 18.7648C43.275 18.7648 45.9248 21.4146 45.9248 24.6873C45.9248 27.9599 43.275 30.6097 40.0024 30.6097Z" fill="white"/>
              <path d="M51.2032 0V9.38506H66.6901L53.6682 38.5326H64.4574L81.6439 0H51.2032Z" fill="white"/>
            </svg>
          </div>
          
          <h2 class="password-modal__content-heading" id="DialogHeading">
            {{ 'general.password_page.login_form_heading' | t }}
          </h2>
          {%- form 'storefront_password', class: 'password-form' -%}
            <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
              <input
                type="password"
                name="password"
                id="Password"
                class="field__input"
                autocomplete="current-password"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
              >
              <label class="field__label" for="{{ 'general.password_page.login_form_password_label' | t }}">
                {{- 'general.password_page.login_form_password_placeholder' | t -}}
              </label>
              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" role="status">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">
                    {%- render 'icon-error' %}
                    {{ 'general.password_page.login_form_error' | t -}}
                  </span>
                </div>
              {%- endif -%}
            </div>
            <button name="commit" class="password-button">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16Z" fill="#EBFF00"/>
                  <path d="M18.6111 13L22 16M22 16L18.6111 19M22 16H10" stroke="black" stroke-width="1.5"/>
                </svg>
            </button>
          {%- endform -%}
          
          <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}">
            <svg width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.64818 1L2 6M2 6L7.64818 11M2 6H22" stroke="white" stroke-width="2"/>
            </svg>
            Retour
          </button>
        </div>
      </div>
    </details>
  </password-modal>
</div>

{%- assign currentDate = "now" | date: "%s" -%}
{%- assign endDate = section.settings.countdown_end_date | date: "%b %d, %Y %H:%M:%S" | date: "%s" -%}
{%- if endDate != blank and endDate > currentDate -%}
  <div class="timer-box-wrapper">
    <div class="timer-box">
      <div id="headline" class="timer-title">Lancement dans :</div>
      <div id="countdown">
        <ul>
          <li><span id="days">00</span>Jours</li>
          <li><span id="hours">00</span>Heures</li>
          <li><span id="minutes">00</span>Minutes</li>               
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript" defer="defer">
    // Update the count down every 2 seconds
    var delayCounter = 0;
    var x = setInterval(countDownTimer,1000*2);
  
    function countDownTimer(){
      
      var endDate = "{{section.settings.countdown_end_date}}";
      var countDownDate = new Date(endDate).getTime();
      console.log('start--',countDownDate);
      
      
      var now = new Date().getTime();
      
      var distance = countDownDate - now;
      
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      days = days < 10 ? '0'+days : days;
      hours = hours < 10 ? '0'+hours : hours;
      minutes = minutes < 10 ? '0'+minutes : minutes;
      seconds = seconds < 10 ? '0'+seconds : seconds;

      //For days
      if(days > 0){
        var dateHtml = `<li><span id="days" class="number"><span>${days}</span></span>Jours</li>`;
      }else{
        var dateHtml = `<li><span id="days" class="number"><span>0</span><span>0</span></span>Days</li>`;
      }

      //For hours
      if(hours > 0){
        dateHtml += `<li><span id="hours" class="number"><span>${hours}</span></span>Heures</li>`; 
      }else{
        dateHtml += `<li><span id="hours" class="number"><span>0</span><span>0</span></span>Hours</li>`;
      }

      //For minutes
      if(minutes > 0){
        dateHtml += `<li><span id="minutes" class="number"><span>${minutes}</span></span>Minutes</li>`; 
      }else{
        dateHtml += `<li><span id="minutes" class="number"><span>0</span><span>0</span></span>Minutes</li>`;
      }
      
      var datFormat = `${dateHtml}`;
      
      document.querySelector("#countdown ul").innerHTML = datFormat;
      console.log(datFormat,'distance');
      // If the count down is over, write some text 
      if (distance <= 0) {
        clearInterval(x);
        document.querySelector(".timer-box-wrapper").innerHTML = '';
      }
    }
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "Password Page",
    "class": "password-main-wrapper",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "form_label",
        "label": "Form Label"
      },
      {
        "type": "text",
        "id": "countdown_end_date",
        "label": "Countdown End Date"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}